@import url("Fonts/clash-display.css");
@import url("Fonts/satoshi.css");

:root {
  --font-heading: "ClashDisplay-Variable", sans-serif;
  --font-body: "Satoshi-Variable", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  background-color: #f5f4f0;
  font-family: var(--font-body);
}

a {
  text-decoration: none;
}

/* Top Bar */
.top_bar {
  display: flex;
  background-color: black;
  justify-content: center;

  .left_side {
    flex: 1;
    display: flex;
    justify-content: center;
    gap: 5px;

    p {
      color: white;
      margin-top: 10px;
      margin-bottom: 10px;
      font-size: 14px;
      font-weight: 200;
    }

    a.signup_now {
      text-decoration: underline;
      color: white;
      margin-top: 10px;
      margin-bottom: 10px;
      font-size: 14px;
      font-weight: 400;
    }
  }

  .right_side {
    display: flex;

    img.cross {
      width: 20px;
      height: 20px;
      margin-top: 10px;
      margin-bottom: 10px;
      margin-right: 100px;
    }
  }
}

/* Nav Bar */
nav {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 24px 100px;
  background-color: white;

  .logo {
    font-size: 38px;
    font-family: var(--font-heading);
    font-weight: 800;
    margin-right: 60px;
  }

  .links {
    display: flex;
    align-items: center;
    gap: 40px;

    ul {
      display: flex;
      gap: 24px;
      font-weight: 400;

      li {
        list-style: none;
        display: flex;
        align-items: center;

        a {
          color: black;
          font-size: 16px;
        }

        .down_arrow {
          width: 16px;
          margin-left: 4px;
        }
      }
    }

    .search_box {
      position: relative;
      margin-right: 0;
      margin-right: 40px;

      input {
        width: 577px;
        border-radius: 999px;
        padding: 14px 20px 14px 50px;
        border: none;
        font-family: var(--font-body);
        font-size: 16px;
        background-color: #f0f0f0;
      }

      img.search_icon {
        position: absolute;
        width: 20px;
        left: 16px;
        top: 50%;
        transform: translateY(-50%);
      }
    }
    .cart_profile {
      margin-left: auto;
      display: flex;
      gap: 14px;
      align-items: center;
    }
    .cart {
      width: 24px;
      gap: 14px;
    }
    .profile {
      width: 24px;
    }
  }
}

/* Cart Page */
.cart_page {
  margin-top: 24px;
  margin-left: 100px;
  margin-right: 100px;
  .tabs {
    display: flex;
    font-size: 16px;
    gap: 8px;
    margin-bottom: 24px;
    align-items: center;

    a {
      display: flex;
      align-items: center;
      color: #666666;
      gap: 4px;
    }

    a.black {
      color: black;
    }

    img {
      width: 16px;
      height: auto;
      display: inline-block;
    }
  }

  h1.title {
    font-size: 40px;
    font-family: var(--font-heading);
    font-weight: 900;
    text-transform: uppercase;
  }

  .your_cart {
    display: grid;
    grid-template-columns: 715px 505px;
    gap: 20px;
    /* background-color: rgb(114, 127, 230); */
    /* align-items: center; */
    justify-content: center;
    margin-top: 24px;

    .left {
      display: flex;
      flex-direction: column;
      padding: 20px 24px;
      border: 2px solid #e6e6e6;
      border-radius: 20px;
      gap: 24px;

      .rule {
        height: 1.5px;
        background: #dedede;
      }

      .cart-item {
        display: flex;
        justify-content: space-between;
        align-items: center;
        /* background-color: rgb(189, 184, 184); */
        position: relative;

        .item-left {
          display: flex;
          gap: 16px;
          align-items: center;

          .item-image img {
            width: 124px;
            border-radius: 9px;
          }

          p.item-name {
            font-size: 20px;
            font-weight: 700;
          }
          p.item-meta {
            font-size: 14px;
            font-weight: 400;
          }
          p.price {
            font-size: 24px;
            font-weight: 600;
            margin-top: 15px;
          }
        }

        .item-right {
          display: flex;
          flex-direction: column;
          gap: 20px;
          margin-top: 24px;

          img.bin {
            width: 18px;
            position: absolute;
            top: 0px;
            right: 0px;
            display: block;
          }

          .qty {
            display: flex;
            align-items: center;
            background: #e2e2e2;
            border-radius: 22px;
            justify-content: space-between;
            box-sizing: border-box;
            width: 126px;
            height: 44px;
            padding: 12px 20px;
            position: absolute;
            left: 530px;
            top: 90px;

            .qty-btn {
              width: 24px;
              height: 24px;
              border-radius: 10px;
              border: none;
              background: #e2e2e2;
              font-size: 28px;
              line-height: 1;
              display: inline-flex;
              align-items: center;
              justify-content: center;
              cursor: pointer;
            }
            .qty-value {
              min-width: 22px;
              text-align: center;
              font-weight: 600;
              font-size: 16px;
            }
          }
        }
      }
    }

    .right {
      display: flex;
      flex-direction: column;
      padding: 20px 24px;
      border: 2px solid #e6e6e6;
      border-radius: 20px;
      gap: 24px;
      height: 458px;

      .summary {
        display: flex;
        flex-direction: column;
        gap: 20px;

        .rule {
          height: 1.5px;
          background: #dedede;
        }

        .summary_row {
          display: flex;
          justify-content: space-between;
          font-size: 20px;
          color: #666666;

          .summary_value {
            color: black;
            font-weight: 600;
          }
          .summary_value_discount {
            color: red;
            font-weight: 600;
          }
        }

        .total_row {
          display: flex;
          justify-content: space-between;
          font-size: 20px;

          .summary_total {
            font-size: 24px;
            font-weight: 600;
          }
        }

        .promo-row {
          display: flex;
          align-items: center;
          gap: 12px;
          .coupon {
            position: relative;

            input {
              width: 326px;
              border-radius: 999px;
              padding: 12px 16px 12px 50px;
              border: none;
              font-family: var(--font-body);
              font-size: 16px;
              background-color: #f0f0f0;
            }

            img.promo {
              position: absolute;
              width: 20px;
              left: 16px;
              top: 52%;
              transform: translateY(-50%);
            }
          }

          button.promo-apply {
            padding: 12px 16px;
            width: 119px;
            height: 48px;
            border-radius: 62px;
            border: none;
            background-color: black;
            color: white;
            font-family: var(--font-body);
            font-size: 16px;
          }
        }

        button.checkout-btn {
          padding: 16px 54px;
          width: 457px;
          height: 60px;
          background-color: black;
          color: white;
          font-size: 16px;
          font-family: var(--font-body);
          border: none;
          border-radius: 62px;
          margin-top: 4px;
        }
      }
    }
  }
}

/* Footer */
footer {
  margin-left: 100px;
  margin-right: 100px;

  .updates {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    border-radius: 20px;
    margin-top: 80px;

    h1 {
      font-size: 40px;
      font-family: var(--font-heading);
      color: white;
      font-weight: 700;
      line-height: 45px;
      padding-left: 64px;
      padding-top: 43px;
      padding-bottom: 43px;
      text-transform: uppercase;
    }

    .newsletter {
      position: relative;
      display: flex;
      flex-direction: column;
      gap: 14px;
      margin-right: 64px;
      margin-top: 36px;
      margin-bottom: 36px;

      input {
        width: 350px;
        border-radius: 100px;
        font-size: 16px;
        font-family: var(--font-body);
        color: f0f0f0;
        font-weight: 300;
        border: none;
        padding: 12px 20px 12px 50px;
        border: none;
      }

      button.subscribe {
        width: 350px;
        border-radius: 100px;
        font-size: 16px;
        font-family: var(--font-body);
        font-weight: 300;
        border: none;
        padding: 12px 16px;
        border: none;
        font-weight: 500;
      }

      img.email_icon {
        position: absolute;
        width: 24px;
        left: 16px;
        top: 23%;
        transform: translateY(-50%);
        border: none;
      }
    }
  }

  .bottom {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    margin-bottom: 50px;
    margin-top: 50px;
    gap: 115px;

    .right {
      flex: 0 0 auto;
      width: 248px;
      .logo {
        font-size: 38px;
        font-family: var(--font-heading);
        font-weight: 800;
      }

      p {
        font-size: 14px;
        font-family: var(--font-body);
        font-weight: 400;
        color: #606060;
        margin-top: 10px;
        margin-bottom: 25px;
      }

      .media_icons {
        display: flex;
        gap: 12px;
        img {
          width: 28px;
          gap: 12px;
        }
      }
    }

    .left {
      display: flex;
      justify-content: space-between;
      width: 100%;
      gap: 0;

      .links {
        h4 {
          font-size: 16px;
          margin-bottom: 15px;
          text-transform: uppercase;
          font-weight: 500;
          letter-spacing: 3px;
        }

        ul {
          list-style: none;
          display: flex;
          flex-direction: column;
          gap: 20px;
          line-height: 19px;
          font-weight: 100;

          li a {
            color: #606060;
            text-decoration: none;
            font-size: 14px;
            font-weight: 400;
          }
        }
      }
    }
  }

  .rule {
    height: 1.5px;
    background: #dedede;
    margin-bottom: 24px;
  }

  .bottom_bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 85px;
    /* background-color: red; */

    .trademark {
      font-size: 12px;
      font-size: 300;
      color: #606060;
    }

    .payments_icons img {
      width: 46px;
    }
  }
}
