@import url("Fonts/clash-display.css");
@import url("Fonts/satoshi.css");

:root {
  --font-heading: "ClashDisplay-Variable", sans-serif;
  --font-body: "Satoshi-Variable", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  background-color: #f5f4f0;
  font-family: var(--font-body);
}

a {
  text-decoration: none;
}

/* Top Bar */
.top_bar {
  display: flex;
  background-color: black;
  justify-content: center;

  .left_side {
    flex: 1;
    display: flex;
    justify-content: center;
    gap: 5px;

    p {
      color: white;
      margin-top: 10px;
      margin-bottom: 10px;
      font-size: 14px;
      font-weight: 200;
    }

    a.signup_now {
      text-decoration: underline;
      color: white;
      margin-top: 10px;
      margin-bottom: 10px;
      font-size: 14px;
      font-weight: 400;
    }
  }

  .right_side {
    display: flex;

    img.cross {
      width: 20px;
      height: 20px;
      margin-top: 10px;
      margin-bottom: 10px;
      margin-right: 100px;
    }
  }
}

/* Nav Bar */
nav {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 24px 100px;
  background-color: white;

  .logo {
    font-size: 38px;
    font-family: var(--font-heading);
    font-weight: 800;
    margin-right: 60px;
  }

  .links {
    display: flex;
    align-items: center;
    gap: 40px;

    ul {
      display: flex;
      gap: 24px;
      font-weight: 400;

      li {
        list-style: none;
        display: flex;
        align-items: center;

        a {
          color: black;
          font-size: 16px;
        }

        .down_arrow {
          width: 16px;
          margin-left: 4px;
        }
      }
    }

    .search_box {
      position: relative;
      margin-right: 0;
      margin-right: 40px;

      input {
        width: 577px;
        border-radius: 999px;
        padding: 14px 20px 14px 50px;
        border: none;
        font-family: var(--font-body);
        font-size: 16px;
        background-color: #f0f0f0;
      }

      img.search_icon {
        position: absolute;
        width: 20px;
        left: 16px;
        top: 50%;
        transform: translateY(-50%);
      }
    }
    .cart_profile {
      margin-left: auto;
      display: flex;
      gap: 14px;
      align-items: center;
    }
    .cart {
      width: 24px;
      gap: 14px;
    }
    .profile {
      width: 24px;
    }
  }
}

/* Hero Section */
.hero_sec {
  background-image: url("Images/Hero.png");
  background-repeat: no-repeat;
  background-position: right center;
  background-size: cover;
  min-height: 663px;
  display: flex;
  flex-direction: column;
  max-width: 100%;
  padding-left: 100px;
  box-sizing: border-box;
  position: relative;
  overflow: hidden;

  h1 {
    font-size: 64px;
    font-family: var(--font-heading);
    margin-top: 103px;
    margin-bottom: 32px;
    line-height: 64px;
  }

  p {
    font-size: 16px;
    font-family: var(--font-body);
    font-weight: 300;
    color: #616060;
  }

  button.shop_now {
    width: 210px;
    padding: 16px 54px;
    border-radius: 100px;
    border: none;
    background-color: black;
    color: white;
    vertical-align: middle;
    font-family: var(--font-body);
    font-size: 16px;
    margin-top: 47px;
    margin-bottom: 48px;
  }

  .stat_grid {
    display: flex;
    flex-direction: row;
    gap: 64px;
    margin-bottom: 116px;

    h2.number {
      font-size: 40px;
      font-family: var(--font-body);
    }

    p {
      font-size: 16px;
    }
  }

  .star {
    position: absolute;
  }

  .star_left {
    left: 48%;
    top: 45%;
    width: 56px;
  }

  .star_right {
    right: 120px;
    top: 15%;
    width: 104px;
  }
}

/* Brand Section */
.brand_sec {
  display: flex;
  background-color: black;
  align-items: center;
  justify-content: center;
  padding: 44px 90px;

  .brand_logos {
    display: flex;
    gap: 100px;

    img {
      width: auto;
      height: 35px;
      object-fit: contain;
    }
  }
}

/* New Arrivals */
/* Top Selling */
.new_arrivals {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 72px;

  h1.new_arrivals {
    font-size: 48px;
    font-family: var(--font-heading);
    font-weight: 800;
    text-transform: uppercase;
    margin-bottom: 55px;
  }

  .item_cards {
    display: flex;
    gap: 20px;
    padding: 0px 100px 0px 100px;

    img {
      width: 100%;
      height: 298px;
      border-radius: 20px;
      border: 1px solid #e6e6e6;
    }
    img.tshirt,
    img.jeans,
    img.shirt,
    img.striped_tshirt {
      margin-bottom: 16px;
    }

    p {
      font-size: 20px;
      font-weight: 600;
      font-family: var(--font-body);
    }

    .rating_row {
      display: flex;
      align-items: center;
      gap: 6px;
      margin-top: 8px;

      .star {
        width: auto;
        height: 16px;
        border: none;
      }

      .rating_value {
        font-size: 14px;
        margin-left: 10px;
        font-weight: 400;
      }
    }

    .price_row {
      display: flex;
      gap: 10px;
      align-items: center;
      margin-top: 8px;

      .current_price {
        font-size: 24px;
        font-weight: 600;
      }
      .old_price {
        font-size: 24px;
        font-weight: 600;
        text-decoration: line-through;
        color: #999999;
      }

      .pill {
        padding: 6px 14px;
        border-radius: 8px;
        background-color: #fee1e1;
        color: red;
        font-size: 12px;
      }
    }
  }

  button.view_all {
    background-color: #f5f4f0;
    border-radius: 999px;
    font-size: 16px;
    font-family: var(--font-body);
    font-weight: 500;
    height: 52px;
    width: 180px;
    margin-top: 36px;
    border: 3px solid #e6e6e6;
    margin-bottom: 80px;
  }
}

/* Browse */
.browse {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 80px;

  .container {
    background-color: #e7e7e7;
    border-radius: 40px;
    padding: 76px 64px;
    max-width: 1240px;
    width: 100%;
  }

  h1.browse {
    text-align: center;
    font-size: 48px;
    font-weight: 900;
    text-transform: uppercase;
    margin-bottom: 50px;
    font-family: var(--font-heading);
  }

  .grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
  }

  .card {
    background-color: white;
    border-radius: 20px;
    overflow: hidden;
    position: relative;
    height: 280px;
    cursor: pointer;
    transition: transform 0.3s ease;
  }

  .card-content {
    position: relative;
    height: 100%;
    display: flex;
    align-items: flex-start;
    padding: 30px;
  }

  .card-title {
    font-size: 32px;
    font-family: var(--font-body);
    font-weight: 700;
    z-index: 2;
    position: relative;
  }

  .card-image {
    position: absolute;
    right: 0;
    bottom: 0;
    height: 100%;
    width: auto;
    object-fit: cover;
  }

  .casual .card-image {
    right: -20px;
  }

  .formal .card-image {
    right: 0;
  }

  .party .card-image {
    right: 0;
    width: 60%;
  }

  .gym .card-image {
    right: 0;
    width: 50%;
  }
}

/* Reviews */
.feedback {
  display: flex;
  flex-direction: column;

  .title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 100px;
    margin-right: 100px;

    h1.tagline {
      font-size: 48px;
      font-family: var(--font-heading);
      text-transform: uppercase;
      font-weight: 800;
      margin-bottom: 40px;
    }

    .arrows {
      display: flex;
      gap: 16px;

      img.arrow_btn {
        width: 24px;
        height: 24px;
        gap: 100px;
      }
    }
  }

  .feedback_cards {
    display: flex;
    gap: 20px;
    justify-content: center;

    .feedback_c1 {
      border: 3px solid #e6e6e6;
      border-radius: 20px;
      padding: 28px 32px;
    }

    .star {
      width: auto;
      height: 20px;
      border: none;
    }

    .content {
      .name {
        display: flex;
        gap: 4px;
        align-items: center;

        h3 {
          font-size: 20px;
          line-height: 22px;
          margin-bottom: 12px;
          margin-top: 5px;
        }
        .verify img {
          width: auto;
          height: 24px;
        }
      }

      p {
        font-size: 16px;
        line-height: 22px;
        color: #666666;
        font-weight: 300;
      }
    }
  }
}

/* Footer */
footer {
  margin-left: 100px;
  margin-right: 100px;
  .updates {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    border-radius: 20px;
    margin-top: 80px;

    h1 {
      font-size: 40px;
      font-family: var(--font-heading);
      color: white;
      font-weight: 700;
      line-height: 45px;
      padding-left: 64px;
      padding-top: 43px;
      padding-bottom: 43px;
      text-transform: uppercase;
    }

    .newsletter {
      position: relative;
      display: flex;
      flex-direction: column;
      gap: 14px;
      margin-right: 64px;
      margin-top: 36px;
      margin-bottom: 36px;

      input {
        width: 350px;
        border-radius: 100px;
        font-size: 16px;
        font-family: var(--font-body);
        color: f0f0f0;
        font-weight: 300;
        border: none;
        padding: 12px 20px 12px 50px;
        border: none;
      }

      button.subscribe {
        width: 350px;
        border-radius: 100px;
        font-size: 16px;
        font-family: var(--font-body);
        font-weight: 300;
        border: none;
        padding: 12px 16px;
        border: none;
        font-weight: 500;
      }

      img.email_icon {
        position: absolute;
        width: 24px;
        left: 16px;
        top: 23%;
        transform: translateY(-50%);
        border: none;
      }
    }
  }

  .bottom {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    margin-bottom: 50px;
    margin-top: 50px;
    gap: 115px;

    .right {
      flex: 0 0 auto;
      width: 248px;
      .logo {
        font-size: 38px;
        font-family: var(--font-heading);
        font-weight: 800;
      }

      p {
        font-size: 14px;
        font-family: var(--font-body);
        font-weight: 400;
        color: #606060;
        margin-top: 10px;
        margin-bottom: 25px;
      }

      .media_icons {
        display: flex;
        gap: 12px;
        img {
          width: 28px;
          gap: 12px;
        }
      }
    }

    .left {
      display: flex;
      justify-content: space-between;
      width: 100%;
      gap: 0;

      .links {
        h4 {
          font-size: 16px;
          margin-bottom: 15px;
          text-transform: uppercase;
          font-weight: 500;
          letter-spacing: 3px;
        }

        ul {
          list-style: none;
          display: flex;
          flex-direction: column;
          gap: 20px;
          line-height: 19px;
          font-weight: 100;

          li a {
            color: #606060;
            text-decoration: none;
            font-size: 14px;
            font-weight: 400;
          }
        }
      }
    }
  }

  .rule {
    height: 1.5px;
    background: #dedede;
    margin-bottom: 24px;
  }

  .bottom_bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 85px;
    /* background-color: red; */

    .trademark {
      font-size: 12px;
      font-size: 300;
      color: #606060;
    }

    .payments_icons img {
      width: 46px;
    }
  }
}
