@import url("Fonts/clash-display.css");
@import url("Fonts/satoshi.css");

:root {
  --font-heading: "ClashDisplay-Variable", sans-serif;
  --font-body: "Satoshi-Variable", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  background-color: #f5f4f0;
  font-family: var(--font-body);
}

a {
  text-decoration: none;
}

/* Top Bar */
.top_bar {
  display: flex;
  background-color: black;
  justify-content: center;

  .left_side {
    flex: 1;
    display: flex;
    justify-content: center;
    gap: 5px;

    p {
      color: white;
      margin-top: 10px;
      margin-bottom: 10px;
      font-size: 14px;
      font-weight: 200;
    }

    a.signup_now {
      text-decoration: underline;
      color: white;
      margin-top: 10px;
      margin-bottom: 10px;
      font-size: 14px;
      font-weight: 400;
    }
  }

  .right_side {
    display: flex;

    img.cross {
      width: 20px;
      height: 20px;
      margin-top: 10px;
      margin-bottom: 10px;
      margin-right: 100px;
    }
  }
}

/* Nav Bar */
nav {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 24px 100px;
  background-color: white;

  .logo {
    font-size: 38px;
    font-family: var(--font-heading);
    font-weight: 800;
    margin-right: 60px;
  }

  .links {
    display: flex;
    align-items: center;
    gap: 40px;

    ul {
      display: flex;
      gap: 24px;
      font-weight: 400;

      li {
        list-style: none;
        display: flex;
        align-items: center;

        a {
          color: black;
          font-size: 16px;
        }

        .down_arrow {
          width: 16px;
          margin-left: 4px;
        }
      }
    }

    .search_box {
      position: relative;
      margin-right: 0;
      margin-right: 40px;

      input {
        width: 577px;
        border-radius: 999px;
        padding: 14px 20px 14px 50px;
        border: none;
        font-family: var(--font-body);
        font-size: 16px;
        background-color: #f0f0f0;
      }

      img.search_icon {
        position: absolute;
        width: 20px;
        left: 16px;
        top: 50%;
        transform: translateY(-50%);
      }
    }
    .cart_profile {
      margin-left: auto;
      display: flex;
      gap: 14px;
      align-items: center;
    }
    .cart {
      width: 24px;
      gap: 14px;
    }
    .profile {
      width: 24px;
    }
  }
}

/* Details Section */
.details {
  margin-top: 24px;
  margin-left: 100px;
  margin-right: 100px;
  .tabs {
    display: flex;
    align-items: center;
    font-size: 16px;
    gap: 12px;

    a {
      align-items: center;
      color: #666666;
    }

    a.black {
      align-items: center;
      color: #666666;
      color: black;
    }

    img {
      width: 16px;
      vertical-align: middle;
    }
  }

  .product {
    display: flex;
    gap: 40px;
    margin-top: 36px;

    .left {
      display: flex;
      gap: 14px;

      .thumbnails {
        display: flex;
        flex-direction: column;

        gap: 14px;

        .thumbs {
          width: 152px;
          gap: 14px;
        }
      }
      .product_img img {
        width: 444px;
      }
    }

    .right {
      h1 {
        font-size: 40px;
        font-family: var(--font-heading);
        text-transform: uppercase;
        font-weight: 900;
      }

      .rule {
        height: 1.5px;
        background: #dedede;
        /* margin: 18px 0; */
      }

      .rating_row {
        display: flex;
        align-items: center;
        gap: 6px;
        margin-top: 10px;

        .star {
          width: auto;
          height: 20px;
          border: none;
        }

        .rating_value {
          font-size: 16px;
          margin-left: 10px;
          font-weight: 400;
        }
      }

      .price_row {
        display: flex;
        gap: 10px;
        align-items: center;
        margin-top: 10px;

        .current_price {
          font-size: 32px;
          font-weight: 700;
        }
        .old_price {
          font-size: 32px;
          font-weight: 600;
          text-decoration: line-through;
          color: #999999;
        }

        .pill {
          padding: 6px 14px;
          border-radius: 62px;
          background-color: #fee1e1;
          color: red;
          font-size: 16px;
          font-weight: 500;
        }
      }

      p.description {
        margin-top: 15px;
        width: 590px;
        font-size: 16px;
        color: #666666;
        line-height: 22px;
        margin-bottom: 24px;
      }

      .color_select {
        margin-top: 24px;
      }
      .color_select p {
        font-size: 16px;
        color: #666666;
        margin: 0 0 12px 0;
      }

      .colors {
        display: flex;
        gap: 12px;
        align-items: center;
        position: relative;
        margin-bottom: 24px;
      }

      .colors input[type="radio"] {
        position: absolute;
        left: -9999px;
        opacity: 0;
        width: 1px;
        height: 1px;
      }

      .colors .swatch {
        display: block;
        width: 37px;
        height: 37px;
        border-radius: 50%;
        border: 1px solid #ccc;
        background-color: #fff;
        position: relative;
      }

      .colors .swatch.olive {
        background: #4f4631;
        border-color: #4f4631;
      }
      .colors .swatch.green {
        background: #2f3b34;
        border-color: #2f3b34;
      }
      .colors .swatch.blue {
        background: #31334a;
        border-color: #31334a;
      }
      .colors .swatch::after {
        border: 2px solid #fff;
        border-top: none;
        border-right: none;
        content: "";
        height: 5px;
        left: 11px;
        opacity: 0;
        position: absolute;
        top: 13px;
        transform: rotate(-45deg);
        width: 12px;
      }
      .colors input[type="radio"]:checked + label::after {
        opacity: 1;
      }

      .product-actions {
        margin-top: 24px;

        .label {
          font-size: 16px;
          font-weight: 400;
          color: #666666;
        }

        .size-options {
          display: flex;
          align-items: center;
          gap: 12px;
          margin-top: 16px;
          margin-bottom: 24px;

          input[type="radio"] {
            position: absolute;
            left: -9999px;
            opacity: 0;
            width: 1px;
            height: 1px;
          }

          .size-pill {
            display: inline-flex;
            align-items: center;
            justify-content: center;
            min-width: 86px;
            padding: 12px 24px;
            border-radius: 22px;
            background: #f0f0f0;
            color: #666666;
            font-size: 15px;
            box-sizing: border-box;
          }

          input[type="radio"]:checked + .size-pill {
            background: #000; /* black selected pill */
            color: #fff;
          }
        }

        .action-row {
          display: flex;
          gap: 20px;
          align-items: center;
          margin-top: 24px;

          .qty {
            display: flex;
            align-items: center;
            background: #f0f0f0;
            border-radius: 22px;
            justify-content: space-between;
            box-sizing: border-box;
            width: 170px;
            height: 52px;
            padding: 16px 20px;

            .qty-btn {
              width: 24px;
              height: 24px;
              border-radius: 10px;
              border: none;
              background: #f0f0f0;
              font-size: 28px;
              line-height: 1;
              display: inline-flex;
              align-items: center;
              justify-content: center;
              cursor: pointer;
            }
            .qty-value {
              min-width: 22px;
              text-align: center;
              font-weight: 600;
              font-size: 16px;
            }
          }

          .add-cart {
            width: 400px;
            height: 52px;
            padding: 16px 54px;
            border-radius: 62px;
            border: none;
            background: black;
            font-size: 15px;
            color: white;
            font-family: var(--font-body);
          }
        }
      }
    }
  }
}

/* Reviews Section */
.reviews {
  margin: 80px 100px;

  .reviwes-tab {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 20px;
    max-width: 1240px;
    margin: 0 auto;
    font-family: var(--font-body);

    .tab {
      margin: 0;
      color: #666666;
    }
    .tab-active {
      color: black;
      font-family: var(--font-body);
      font-weight: 100;
    }
  }
  .rule {
    height: 1.5px;
    background: #dedede;
    margin-top: 24px;
    max-width: 1240px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
  }

  .dark_rule {
    height: 1.5px;
    background: #000000;
    width: 36%;
    position: absolute;
    left: 36%;
  }

  .all_reviews {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 24px;

    .left {
      display: flex;
      gap: 8px;
      align-items: baseline;
      font-family: var(--font-body);

      p.tag {
        font-size: 24px;
        font-weight: 600;
        margin: 0;
      }

      p.count {
        font-size: 16px;
        color: #666666;
        margin: 0;
      }
    }

    .right {
      display: flex;
      align-items: center;
      gap: 10px;

      .filter {
        width: 48px;
      }
      .sort {
        display: flex;
        align-items: center;
        gap: 21px;
        width: 120px;
        font-size: 16px;
        border-radius: 62px;
        padding: 16px 20px;
        background-color: #f0f0f0;
        border: none;
        font-family: var(--font-body);
        font-weight: 500;

        img {
          width: 16px;
          vertical-align: middle;
        }
      }

      .write_review {
        width: 166px;
        padding: 16px 20px;
        background-color: black;
        border: none;
        border-radius: 62px;
        color: white;
        font-size: 16px;
        font-family: var(--font-body);
      }
    }
  }
  .feedback_cards {
    display: grid;
    gap: 20px;
    grid-template-columns: 610px 610px; /* 2 columns */
    grid-template-rows: auto auto auto;
    margin-top: 24px;
    justify-content: center;

    .feedback_c1 {
      border: 3px solid #e6e6e6;
      border-radius: 20px;
      padding: 28px 42px;
      width: 610px;
    }

    .star {
      width: auto;
      height: 20px;
      border: none;
      margin-bottom: 15px;
    }

    .content {
      .name {
        display: flex;
        gap: 4px;
        align-items: center;
        margin-bottom: 12px;

        h3 {
          font-size: 20px;
          line-height: 22px;
          margin-bottom: 12px;
          margin-top: 5px;
        }
        .verify img {
          width: auto;
          height: 24px;
        }
      }

      p {
        font-size: 16px;
        line-height: 22px;
        color: #666666;
        font-weight: 300;
      }

      .date {
        margin-top: 24px;
        font-size: 16px;
        color: #666666;
        font-family: var(--font-body);
        font-weight: 500;
      }
    }
  }
  .load_button {
    display: flex;
    margin-top: 36px;
    align-items: center;
    justify-content: center;

    button.load_reviews {
      width: 252px;
      padding: 16px 54px;
      border-radius: 62px;
      font-size: 16px;
      font-family: var(--font-body);
      background-color: #f0f0f0;
      border: 1px solid #e6e6e6;
      font-weight: 600;
    }
  }
}

/* Recommendation Section*/
.new_arrivals {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  h1.new_arrivals {
    font-size: 48px;
    font-family: var(--font-heading);
    font-weight: 800;
    text-transform: uppercase;
    margin-bottom: 55px;
  }

  .item_cards {
    display: flex;
    gap: 20px;
    padding: 0px 100px 0px 100px;

    img {
      width: 100%;
      height: 298px;
      border-radius: 20px;
      border: 1px solid #e6e6e6;
    }
    img.tshirt,
    img.jeans,
    img.shirt,
    img.striped_tshirt {
      margin-bottom: 16px;
    }

    p {
      font-size: 20px;
      font-weight: 600;
      font-family: var(--font-body);
    }

    .rating_row {
      display: flex;
      align-items: center;
      gap: 6px;
      margin-top: 8px;

      .star {
        width: auto;
        height: 16px;
        border: none;
      }

      .rating_value {
        font-size: 14px;
        margin-left: 10px;
        font-weight: 400;
      }
    }

    .price_row {
      display: flex;
      gap: 10px;
      align-items: center;
      margin-top: 8px;

      .current_price {
        font-size: 24px;
        font-weight: 600;
      }
      .old_price {
        font-size: 24px;
        font-weight: 600;
        text-decoration: line-through;
        color: #999999;
      }

      .pill {
        padding: 6px 14px;
        border-radius: 8px;
        background-color: #fee1e1;
        color: red;
        font-size: 12px;
      }
    }
  }
}

/* Footer */
footer {
  margin-left: 100px;
  margin-right: 100px;
  .updates {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    border-radius: 20px;
    margin-top: 80px;

    h1 {
      font-size: 40px;
      font-family: var(--font-heading);
      color: white;
      font-weight: 700;
      line-height: 45px;
      padding-left: 64px;
      padding-top: 43px;
      padding-bottom: 43px;
      text-transform: uppercase;
    }

    .newsletter {
      position: relative;
      display: flex;
      flex-direction: column;
      gap: 14px;
      margin-right: 64px;
      margin-top: 36px;
      margin-bottom: 36px;

      input {
        width: 350px;
        border-radius: 100px;
        font-size: 16px;
        font-family: var(--font-body);
        color: f0f0f0;
        font-weight: 300;
        border: none;
        padding: 12px 20px 12px 50px;
        border: none;
      }

      button.subscribe {
        width: 350px;
        border-radius: 100px;
        font-size: 16px;
        font-family: var(--font-body);
        font-weight: 300;
        border: none;
        padding: 12px 16px;
        border: none;
        font-weight: 500;
      }

      img.email_icon {
        position: absolute;
        width: 24px;
        left: 16px;
        top: 23%;
        transform: translateY(-50%);
        border: none;
      }
    }
  }

  .bottom {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    margin-bottom: 50px;
    margin-top: 50px;
    gap: 115px;

    .right {
      flex: 0 0 auto;
      width: 248px;
      .logo {
        font-size: 38px;
        font-family: var(--font-heading);
        font-weight: 800;
      }

      p {
        font-size: 14px;
        font-family: var(--font-body);
        font-weight: 400;
        color: #606060;
        margin-top: 10px;
        margin-bottom: 25px;
      }

      .media_icons {
        display: flex;
        gap: 12px;
        img {
          width: 28px;
          gap: 12px;
        }
      }
    }

    .left {
      display: flex;
      justify-content: space-between;
      width: 100%;
      gap: 0;

      .links {
        h4 {
          font-size: 16px;
          margin-bottom: 15px;
          text-transform: uppercase;
          font-weight: 500;
          letter-spacing: 3px;
        }

        ul {
          list-style: none;
          display: flex;
          flex-direction: column;
          gap: 20px;
          line-height: 19px;
          font-weight: 100;

          li a {
            color: #606060;
            text-decoration: none;
            font-size: 14px;
            font-weight: 400;
          }
        }
      }
    }
  }

  .rule {
    height: 1.5px;
    background: #dedede;
    margin-bottom: 24px;
  }

  .bottom_bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 85px;
    /* background-color: red; */

    .trademark {
      font-size: 12px;
      font-size: 300;
      color: #606060;
    }

    .payments_icons img {
      width: 46px;
    }
  }
}
